@model FairFunds.Models.Category

@{
	ViewData["Title"] = "DeleteCategory";
}

@section Hero {
	<header class="header mb-5">
		<div class="hero text-white pt-7 pb-4">
			<div class="container-xl">
				<div class="row">
					<div class="row">
						<div class="col-12">
							<h1>Delete category</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		@* 		<partial name="_Hero" />
	*@
	</header>
}

<section class="pb-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form asp-action="DeleteCategoryPost" method=post>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-floating mb-4">
						<input asp-for="Name" disabled class="form-control" />
						<label asp-for="Name" class="control-label"></label>
						@* 						<span asp-validation-for="Name" class="text-danger"></span>
						*@
					</div>
					<div class="row">
						<div class="col-md-6 d-grid">
							<input type="hidden" asp-for="CategoryID" />
							<input type="submit" value="Delete" class="btn btn-danger text-white mb-3" />
						</div>
						<div class="col-md-6 d-grid">
							<a class="btn btn-secondary text-white mb-3" asp-action="Index">Go back</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


