@model IEnumerable<FairFunds.Models.Category>

@{
	ViewData["Title"] = "Category";
}

@section Hero {
	<header class="header">
		<div class="hero text-white pt-7 pb-4">
			<div class="container-xl">
				<div class="row">
					<div class="row">
						<div class="col-12">
							<h1>Categories</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
@* 		<partial name="_Hero" />
 *@	</header>
}

<div class="col-md-12 pt-5">
	<div class="d-flex justify-content-end">
		<div class="col-md-3">
			<a class="btn btn-dark text-white fw-semibold" type="submit" asp-action="CreateCategory">New category</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								<div class="d-flex justify-content-end">
									<a class="btn btn-danger btn-sm fw-semibold" asp-action="DeleteCategory" asp-route-id="@item.CategoryID">Delete</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>