@model IEnumerable<FairFunds.Models.Expenditure>

@{
	ViewData["Title"] = "Expenditure";
}

@section Hero {
	<header class="header">
		<div class="hero text-white pt-7 pb-4">
			<div class="container-xl">
				<div class="row">
					<div class="row">
						<div class="col-12">
							<h1>Expenses</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		@* <partial name="_Hero" />
	*@
	</header>
}

<div class="col-md-12 pt-5">
	<div class="d-flex justify-content-end">
		<div class="col-md-3">
			<a class="btn btn-dark text-white fw-semibold" type="submit" asp-action="AddExpenditure">Add expense</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Date</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Title)
							</td>
							<td>@Html.DisplayFor(modelItem => item.Date)</td>
							<td>@Html.DisplayFor(modelItem => item.Amount)</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
