@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FairFunds</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FairFunds.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="/css/font-awesome.css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="icon" href="/images/favicon.png" />
</head>
<body >
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
		<div class="container">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				FairFunds
			</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ms-auto">
					<partial name="_LoginPartial" />
				</ul>
			</div>
		</div>
	</nav>

	@if (IsSectionDefined("Hero"))
	{
		@RenderSection("Hero", required: false)
	}

	<main role="main" class="mb-7">
		@RenderBody():
	</main>

	<footer class="border-top bg-primary bg-dark footer text-white py-4">
		<div class="container">
			&copy; 2024 - FairFunds
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/script.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
