@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@{
	CustomUser customUser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li>
			@if (customUser.ProfilePicture != null)
			{
				<a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link">
					<image src="data:image/*;base64,@(Convert.ToBase64String(customUser.ProfilePicture))" class="profile-picture rounded-circle border border-light" alt="Profile Picture"></image>
				</a>
			}
		</li>

		<li class="nav-item mx-2">
			<a class="nav-link text-light" asp-controller="Expenditure" asp-action="Index">Expenses</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link text-light" asp-controller="Category" asp-action="Index">Categories</a>
		</li>
		<li class="nav-item mx-3">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-light logout-button">
					<i class="bi bi-box-arrow-right"></i>
				</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link fw-semibold" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link fw-semibold" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>

<style>
	.profile-picture {
		width: 50px;
		height: 50px;
		object-fit: cover;
		margin-right: 10px;
	}

	.logout-button {
		font-size: 1rem; 
		border: none;
		background:transparent;
		cursor: pointer;
		transition: color 0.3s ease; 
	}

	.logout-button:hover,
	.logout-button:focus {
			background: red; 
			outline: none; 
	}

	.navbar-nav {
		display: flex;
		align-items: center;
	}

	.nav-item {
		margin-right: 15px; /* Adjust spacing between items */
	}
</style>

