@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center vh-100">
    <div class="text-left">
        <div class="col-12 col-md-8">
            <h1 class="display-4 text-left">Bienvenue sur FairFunds</h1>
            <p class="lead text-left">"Faites la balance, sans fausse note !"</p>
        </div>
    </div>
</div>
